<% layout('layout') %>
<div id="wrapper" class="toggled">
   <div id="sidebar-wrapper">
      <div class="sidebar-brand">
      </div>
      <ul class="sidebar-nav">
         <div class="profile_info">
         </div>
      </ul>
   </div>
   <div id="page-content-wrapper">
      
    <% include partials/nav %>
   </div>
</div>

