<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>

  <body>
    <%- body -%>
  </body>
<% include partials/footer %>
<script src="/js/rating.js"></script><script src="/js/rating.js"></script>
</html>