a:hover {
  text-decoration: none;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

.title-section {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.button-submit {
  max-width: 160px;
  width: 100%;
  display: block;
}

.block-center {
  margin: 0 auto;
}