<% layout('layout') %>
<div class="container">
  <div class="row">
    
    <div class="col-md-offset-2 col-md-8">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/">Jose Rate</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>

      <div class="text-center reg_msg">
        <h2 class="fancy"><span>SIGN UP</span></h2>
      </div>


      <div class="signup margin-top-20">
        <% if(hasErrors) {%>
          <% for(var i = 0; i <messages.length; i++) {%>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
              &times;
            </a>
            <%= messages[i] %>
          </div>
          <% } %>
        <% } %>

        <form method="POST" class="width-100" id="signupForm" action="/signup">

          <div class="form-group input_group">
            <div class="form-groupinput_group">
              <input id="fullname" class="form-control" name="fullname" type="text" autocomplete="on" placeholder="FULLNAME"
                style="margin-bottom:20px;">
            </div>
          </div>

          <div class="form-group input_group">
            <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:20px;">
          </div>

          <div class="form-group input_group">
            <input id="password" class="form-control" name="password" type="password" placeholder="PASSWORD" style="margin-bottom:20px;">
          </div>


          <div class="">
            <input type="submit" id="submit" value="SIGN UP" class="form-control btn btn-primary" name="submit" style="margin-bottom: 20px;">
          </div>

        </form>

        <div class="sign-with-facebook">
          <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg center-block">
            <i class="fa fa-facebook"></i> Sign up with Facebook
          </a>
        </div>

        <div class="width-100 margin-top-20">
          <h4>Already have an account? <a href="/login">Login</a></h4>
        </div>


      </div>
    </div>
  </div>

</div>